* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.login-page {
    width: 100%;
    height: 100vh;
    background-image: url(background-img.png);
    background-size: 100% 100%;
}

.login-page .login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 3px solid white;
    border-radius: 40px;
    padding: 40px 80px;
    background-color: rgba(255, 255, 255, 10%);
    backdrop-filter: blur(10px);
}

.login-page .login-form input,
.login-page .login-form label {
    display: block;
    width: 100%;
}

.login-page .login-form input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.login-page .login-form .login-title {
    color: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.login-page .login-form .email-input {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.login-page .login-form .password-input {
    padding-bottom: 10px;
}

.login-page .login-form .email-input label,
.login-page .login-form .password-input label {
    color: white;
    padding-bottom: 3px;
}



.login-page .login-form .forgot-link a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.login-page .login-form .submit-button {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 10px;
}

.login-page .login-form .submit-button input {
    background-color: #bd0c47;
    color: white;
    border: 0;
}

.login-page .login-form .continuewith-label {
    text-align: center;
    font-size: 12px;
    color: white;
    margin-bottom: 20px;
}

.login-page .login-form .login-with-btn {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-bottom: 20px;

}

.login-page .login-form .login-with-btn a {
    background: white;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

.login-page .login-form .login-with-btn img {
    width: 20px;
    height: 20px;
}

.login-page .login-form .dont-have-account {
    color: white;
    font-size: 12px;
    text-align: center;
}

.login-page .login-form .dont-have-account a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-page .login-form .left-img-component {
    width: 250px;
    position: absolute;
    top: 71px;
    left: -210px;
}

.login-page .login-form .right-img-component {
    width: 220px;
    position: absolute;
    bottom: 80px;
    right: -180px;
}